.cont {
    display: flex; 
    flex-wrap: wrap;
}
.con1 {
    position: relative;
    width: 20%; 
    border: 5px solid rgb(0, 0, 0); 
  }
.cont2 {font-size: 23px;
    position: relative;
    width: 69%;
    border:5px solid rgb(0, 0, 0); 
   }
   .a2 { text-align: center;}
   .a1 { text-align: center;}
   .p1 {text-align: center;
    font-size: 50px;}